<mat-card class="movie-thumbnail">
    <mat-card-header>
      <mat-card-title class="movie-title">{{movie?.title}}</mat-card-title>
      <mat-card-subtitle class="movie-subtitle">{{movie?.release_date}}</mat-card-subtitle>
    </mat-card-header>
    <img class="movie-image" mat-card-image [src]="movie?.poster_path" [alt]="movie?.title">
    <mat-card-content class="movie-overview">
     {{movie?.overview}}
    </mat-card-content>
    <mat-card-actions class="movie-actions">
      <button mat-button *ngIf="!useWatchlistApi" (click)="addToWatchlist()" color="primary">Add to Watchlist</button>
      <button mat-button *ngIf="useWatchlistApi" (click)="deleteFromWatchlist()" color="primary">Delete</button>
      <button mat-button *ngIf="useWatchlistApi" (click)="updateWatchlistedItem('update')" color="primary">Update</button>
    </mat-card-actions>
  </mat-card>